.zpl_btnmnu {
  z-index: 0 !important;
}

button {
  cursor: pointer;
}

.zas-root {
  text-align: center;
  margin-right: 10px;
  z-index: 1000;

  /* Button Styles */
  .toggle-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Root container for the popup */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    height: 70vh; /* Ensure the popup doesn't exceed the viewport height */
    overflow-y: auto; /* Enable scrolling if content overflows */
  }

  .header {
    position: sticky;
    top: 0; /* Sticks the header to the top of the popup */
    background: white;
    z-index: 10; /* Ensures it appears above the scrolling content */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Optional: Add a bottom border for separation */
    font-weight: bold;
    text-align: center;
  }

  .close-button {
    right: 0;
    padding: 10px 0;
    position: absolute;
    background: #0088ff;
    color: white;
    top: 5px;
    border-width: 1px;
    padding: 10px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .item-title {
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
  }

  .item-description {
    flex-grow: 1;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .item-buttons {
    display: flex;
    gap: 5px;
  }

  .ok-button,
  .skip-button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background: #007bff;
    color: white;
    font-size: 14px;
  }

  .skip-button {
    background: #f6ac0b;
  }

  .ok-button:hover {
    background: #0056b3;
  }
  .skip-button:hover {
    background: #8d5c07;
  }

  .tabs {
    display: flex;
    justify-content: space-around;

    .tab-button {
      cursor: pointer;
      color: white;
      font-size: 14px;
      padding: 5px 10px;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      background: rgb(0, 123, 255);
      width: 50%;
    }

    .tab-button.active {
      background-color: #0056b3;
    }
  }
}
